<!doctype html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link rel="stylesheet" href="/assets/css/home.css">
</head>
<body>
<div>
    <h1>{{.title}}</h1>
    <div>--</div>
    <h4>{{.date}}</h4>
</div>
</body>
</html>